# Dependency directories
node_modules/
.pnpm/
.yarn/

# Build folders
dist/
build/
.out/
.next/

# Cache and temp files
.temp/
.cache/
.vscode/
.idea/

# Environment variables
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor files
.DS_Store
*.swp
.thumbs.db