.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: Cabinet Grotesk, sans-serif;
}
.footer__author {
  margin: 0;
  height: 20px;
}

.footer__date {
  margin: 0;
  height: 20px;
}
