.clothes-section {
}
.clothes-section__title {
  padding: 0%;
  margin: 0%;
}

.clothes-section__description {
  font-size: 16px;
  color: #666;
}
.clothes-section__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0;
}

.clothes-section__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clothes-section__add-clothes-btn {
  background-color: transparent;
  color: #00000099;
  border: none;
  padding: 0;
  border-radius: 6px;
  cursor: pointer;
  width: 88px;
  height: 25px;
}
